@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/a11y-dark.min.css");

body {
    line-height: 1.4;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
    word-wrap: break-word;
    color: #363636;
    color: var(--text-main);
    background: #fff;
    background: var(--background-body);
    text-rendering: optimizeLegibility;
}

h1:first-child,
.footer {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}